<div style="background:#000000">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
		   style="background-color:#000000;border-collapse:collapse;max-width:600px !important">
		<tbody>
		<tr>
			<td valign="top"
				style="background-image:none;background-position:center;background-repeat:no-repeat;background-size:cover;border-bottom-style:none;border-bottom-width:0;border-top-style:none;border-top-width:1px;padding-bottom:0;padding-top:0">
				<table border="0" cellpadding="0" cellspacing="0" width="100%"
					   style="background-color:#000000;border-collapse:collapse">
					<tbody>
					<tr>
						<td valign="top">
							<div style="font-family:'helvetica';font-size:18px;line-height:150%;margin-bottom:16px;margin-top:8px;text-align:left;word-break:break-word">
								<table width="100%" style="border-collapse:collapse">
									<tbody>
									<tr>
										<th>
											<div style="color:#ffffff;font-family:'arial';font-size:16px;font-style:normal;font-weight:normal;padding-left:16px">
												<a href="https://www.eduhund.ru/"
												   target="_blank"
												   style="color:#45818e;font-weight:normal;text-decoration:underline"
												   data-link-id="15">eduHund.ru</a> • digital mentor
											</div>
										</th>
										<th style="text-align:right"><a
												href="https://www.eduhund.ru/program/io"
												target="_blank"
												style="color:#357de8;font-weight:normal;text-decoration:underline">
											<img alt="Eduhund logo"
												 src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fmcusercontent.com%2F35e8ad85bee62498c5afe1d58%2Fimages%2Facf947d9-e55a-dbb6-1bd8-007610d21439.png&amp;proxy=yes&amp;key=fa7a730fa06a993f582039a57528cdac"
												 width="20"
												 style="border:1px;border-radius:0%;height:auto !important;max-width:40px;padding-right:8px;text-decoration:none;vertical-align:bottom"></a>
										</th>
									</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
					<tbody>
					<tr>
						<td valign="top">
							<div style="background:#0071B2 center/cover no-repeat;border-bottom-style:none;border-bottom-width:24px;border-radius:24px 24px 0px 0px;border-top-style:none;border-top-width:0;font-family:'arial';padding:24px 4px 24px 24px">
								<table style="border-collapse:collapse">
									<tbody>
									<tr>
										<td style="vertical-align:top"><h2
												style="color:#0071B2;font-family:'helvetica';font-size:56px;font-style:normal;font-weight:800;line-height:68px;margin-bottom:0px;padding-top:0px;text-align:left;vertical-align:top">
											<span style="color:#ffffff;">Welcome!</span></h2>
											<div style="color:#ffffff;font-size:32px;font-style:normal;font-weight:100;line-height:40px;margin-bottom:0px;margin-top:0px;padding-bottom:0px;padding-top:16px">
												Now you’ve got your Digital Mentor
											</div>
										</td>
										<td style="vertical-align:top">
											<div style="text-align:right;width:100%"><img alt="*|MODULE|*"
																						  src="*|MASCOTLETTERTOP|*"
																						  style="border:1px;border-radius:0%;height:auto;margin-top:0px;margin-left:20px;max-width:250px;text-decoration:none;vertical-align:top">
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
					<tbody>
					<tr>
						<div
								style="
																		background: #ffffff center/cover no-repeat;
																		border-bottom-style: none;
																		border-bottom-width: 0;
																		border-radius: 0px 0px 24px 24px;
																		border-top-style: none;
																		border-top-width: 0;
																		margin-bottom: 24px;
																		padding: 24px 16px 24px 24px;
																	"
						>
							<h3
									style="
                                                                            color: #262A36;
																			display: block;
																			font-family: 'arial';
																			font-size: 32px;
																			font-style: normal;
																			font-weight: 800;
																			line-height: 40px;
																			margin: 0;
																			padding: 0;
																			text-align: left;
																		"
							>
								Hi, *|NAME|*
							</h3>

							<div
									style="
                                                                            color: #262A36;
																			font-family: 'arial';
																			font-size: 16px;
																			font-style: normal;
																			font-weight: normal;
																			line-height: 24px;
																			margin-bottom: 24px;
																			margin-top: 16px;
																		"
							>
								You received this letter because you bought
								<a
										href="https://my.eduhund.com/"
										target="_blank"
										style="color: #357de8"
								>Digital Mentor for Team Leaders and
									Novice Managers</a
								>
								on Gumroad.
							</div>

							<div
									style="
                                                                            color: #262A36;
																			font-family: 'arial';
																			font-size: 16px;
																			font-style: normal;
																			font-weight: normal;
																			line-height: 24px;
																			margin-bottom: 24px;
																			margin-top: 16px;
																		"
							>
								The password was generated automatically
								(<b>*|PASSWORD|*</b>), but you can
								<a
										href="*|PASSWORD_LINK|*"
										target="_blank"
										style="color: #357de8"
								>change it</a
								>. Sign in with your email address.
							</div>

							<div
									style="
																			background: #0071B2;
																			border-radius: 16px;
																			padding: 12px;
																			text-align: center;
																			vertical-align: top;
																			width: 88%;
																		"
							>
								<a
										href="https://my.eduhund.com/"
										target="_blank"
										style="
																				color: #ffffff;
																				font-family: 'arial';
																				font-size: 18px;
																				line-height: 114%;
																				text-decoration: none;
																			"
										data-link-id="326"
								>Go to your Digital Mentor →</a
								>
							</div>

							<div
									style="
                                                                            color: #262A36;
																			font-family: 'arial';
																			font-size: 16px;
																			font-style: normal;
																			font-weight: normal;
																			line-height: 24px;
																			margin-bottom: 24px;
																			margin-top: 16px;
																		"
							>
								Follow the link below for an explanation of
								how to work with the Digital Mentor and
								answers to frequently asked student
								questions.
							</div>

							<div
									style="
																			background: #0071B2;
																			border-radius: 16px;
																			padding: 12px;
																			text-align: center;
																			vertical-align: top;
																			width: 88%;
																		"
							>
								<a
										href="https://my.eduhund.com/counselor"
										target="_blank"
										style="
																				color: #ffffff;
																				font-family: 'arial';
																				font-size: 18px;
																				line-height: 114%;
																				text-decoration: none;
																			"
										data-link-id="327"
								>Student counselor →</a
								>
							</div>

							<div
									style="
                                                                            color: #262A36;
																			font-family: 'arial';
																			font-size: 16px;
																			font-style: normal;
																			font-weight: normal;
																			line-height: 24px;
																			margin-top: 16px;
																		"
							>
								If you have any questions, please contact us
								by mail
								<a
										href="mailto:edu@eduhund.com"
										target="_blank"
										style="color: #357de8"
								>edu@eduhund.com</a
								>
								or using a
								<a
										href="https://t.me/eduhund_bot"
										target="_blank"
										style="color: #357de8"
										data-link-id="328"
								>Telegram-assistant</a
								>.
							</div>
						</div>
					</tr>
					</tbody>
				</table>


				<table border="0" cellpadding="0" cellspacing="0" width="100%"
					   style="border-collapse:collapse">
					<tbody>
					<tr>
						<td valign="top">
							<div style="padding-bottom:16px;padding-left:16px;padding-top:16px">
								<table width="100%" style="border-collapse:collapse">
									<tbody>
									<tr>
										<td style="text-align: left">
											<div>
												<a
														href="https://t.me/eduhund"
														target="_blank"
														data-link-id="329"
												><img
														src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fmcusercontent.com%2F35e8ad85bee62498c5afe1d58%2Fimages%2Fbce1a7fb-cfbb-cf71-b330-775306533d6d.png&amp;proxy=yes&amp;key=ac37e7f129918a5a184deaad87df5b21"
														width="40"
														style="
																													border: 0;
																													height: auto;
																													text-decoration: none;
																												" /></a
												><a
													href="https://www.instagram.com/eduhund/"
													target="_blank"
													data-link-id="330"
											><img
													src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fmcusercontent.com%2F35e8ad85bee62498c5afe1d58%2Fimages%2Fad01ce47-fa59-52b8-8098-3e743df56d8a.png&amp;proxy=yes&amp;key=dbe01a724109bdf93386928fd4a28099"
													style="
																													border: 0;
																													height: auto;
																													text-decoration: none;
																												" /></a
											><a
													href="mailto:edu@eduhund.com"
													target="_blank"
													data-link-id="331"
											><img
													src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fmcusercontent.com%2F35e8ad85bee62498c5afe1d58%2Fimages%2Fcde96c00-3c89-525f-e718-576eea03f842.png&amp;proxy=yes&amp;key=df9fc508a9138ba0eb98ac0c5456be5a"
													width="42"
													style="
																													border: 0;
																													height: auto;
																													text-decoration: none;
																												"
											/></a>
											</div>
											<div
													style="
																											color: #ffffff;
																											font-family: 'arial';
																											font-size: 14px;
																											padding-top: 16px;
																										"
											>
												<div
														style="
																												color: #ffffff;
																												font-family: 'arial';
																												font-size: 14px;
																												text-align: left;
																											"
												>
													<a
															href="https://eduhund.com/"
															target="_blank"
															style="color: #ffffff"
															data-link-id="332"
													>eduhund.com</a
													><br /><br /><a
														href="mailto:edu@eduhund.com"
														target="_blank"
														style="color: #ffffff"
														data-link-id="333"
												>edu@eduhund.com</a
												>
										</td>
										<td>
											<a
													href="*|MODULELINK|*"
													target="_blank"
													data-link-id="335"
											><img
													src="*|MASCOTLETTERBOTTOM|*"
													style="
																												border: 0;
																												height: auto;
																												max-width: 200px;
																												text-decoration: none;
																												vertical-align: bottom;
																											"
											/></a>
										</td>
									</tr>
									</tbody>
								</table>
						</td>

					</tr>

					</tbody>

				</table>
</div>