.login__container {
    background-color: #fff;
    width: 365px;
    margin: 0 auto;
}

.login__form {
    margin: 0 auto;
    padding: 40px;
  }

.login__form__header {
    margin: 0;
}
  
.login__form > * {
    padding-bottom: 32px;
}

.submit__container {
    padding-bottom: 32px;
}

.login__form__forget {
    display: block;
    text-align: center;
    padding: 0;
}